{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block seo %}
  {% include 'snippets/seo.html' with page_title='Bernie Calc' page_description="A calculator to help you understand how Bernie's policies affect your bottom line" %}
{% endblock %}

{% block content %}
<div class="container-fluid hero mb-3" style="padding: 0;background-image: url({% static 'images/bernie-bg2.jpg' %});">
  <div class="hero-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1>Bernie Calc</h1>
            <p>A super simple calculator to help you understand Bernie's policies.</p>
        </div>
      </div>
  </div>
</div>

  
</div>
<div class="container extra-spacing">
  <div class="row">
    <div class="col-md-10 offset-md-1">
        <form class="form-horizontal" method="post" action="{% url 'calculator_results' %}">
          {% crispy form %}
        </form>
    </div>
  </div>
</div>

{% endblock %}