<svg class="angle-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
  <polygon points="0,100 100,0 100,100" />
</svg>
<footer>
  <div class="footer-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>This site is not affiliated with the Bernie Sanders campaign or any of the associated organizations.
            The content on Bernie Calc is for informational and educational purposes only and should not be construed as professional financial advice.
            Should you need such advice, consult a licensed financial or tax advisor.
          </p>
        </div>
        <div class="col-8 distribute-equally">
          <p>Made by @austingrandt</p>
          <p>See the code on GitHub</p>
        </div>
      </div>
    </div>
  </div>
</footer>